/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: #2e0128;
}

.logo-ludicos{
  padding: 10px 10px;
  text-align: center;
}

/*header*/

header {
  height: 60px;
  background: #dde102;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: dotted;
}

/* este es el h2 clase logo*/
.nombre-empresa{
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}

/*este es el nav bar clase menu*/

.menu{
  margin-left: 300px;
}

.menu a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 90px;
  transition: 0.4s;
}

/*este es la clase de la etiqueta mostrar menu y esconder menu*/
.mostrar-menu,
.esconder-menu {
  font-size: 40px;
  cursor: pointer;
  display: none; /*esto es para esconder la opcion etiquetada*/
  transition: 0.4s; /*esto es para el delay del cursor sobre las letras*/
}

.mostrar-menu {
  order:1;
}

/*hover:  éste se activa cuando el cursor flota por encima y esa es la clave*/
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
  color: #a23ba7;
}

#check{
  display: none; /*esto es para esconder la opcion etiquetada*/
}

/*jumbotron: imagen de fondo difuminada */
.jumbotron{
  padding: 0 50px;
  background-image: url(assets/img/adultosjugando.jpg);
  height: 60vh; /*vh significa "altura del dispositivo, el numero equivale al porcentaje en pantalla ej: 40vh es 40% en pantalla*/
  background-size: cover;
  margin-top: 50px;
}
.jumbotron::before{
  content: ''; /*   El valor por defecto es entre comillas"", La propiedad content se usa junto con los pseudo-elementos :before y :after para generar contenido que se adjunta antes o después de un selector CSS. */
  background: rgba(0, 0, 0, 0.877);
  position: absolute;
  width: 100%;
  height: 60vh;
  left: 0;
}

.container{
  position: relative;
  color: #fff;
  font-size: 20px;
  height: 100%;
  display: flex; /* ¿Qué es el display flex? La propiedad de display flex, ayuda a colocar las cajas como si fueran celdas de tablas, con un comportamiento predecible y adaptable*/
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container h3 span{
  font-weight: 600;
}

.boton-informacion{
  text-decoration: none;
  border: 0.5px solid #ffffff;
  margin-top: 20px;
  padding: 10px 60px;
  align-self: center; /* esto alinea el contenedor*/
  transition: all 0.4s;
  background-color: #5e48be;
  color: #ffffff;
  border-radius: 20px;
}

/*  damos estilo al boton HOVER: activa cuando el cursor flota por encima*/
.boton-informacion:hover{
  background: #e6e4537c;
}

/*catalogo de productos*/

.catalogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;

}

.titulo-catalogo {
  margin-top: 100px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #000000;
  font-size: 50px;
  color: white;
  text-decoration: underline;
  border: dotted;
}

.item {
  display: flex;
  width: 300px;
  margin: 50px;
  background-color: #060606;
  border-radius: 50px;
  box-shadow: 0 2px 10px rgba(251, 251, 251, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: center;

}

.item:hover {
  transform: translateY(-30px);
}

.item a {
  display: block;
  text-decoration: none;
  color: #2d2d2d;
}

.item img {
  width: 100%;
  height: 350px;
  border-radius: 8px 8px 0 0;
}

.item h3,
h4 {
  padding: 15px;
  margin: 0;
  font-size: 20px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0 0 8px 8px;
}

/* Sección de Registro */
.registro {
  display: flex;
  background-color: #000000;
  color: #ffffff;
  padding: 100px 0;
  text-align: center;
  justify-content: center;
}

.registro h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.registro input[type="text"],
.registro input[type="email"],
.registro button {
  padding: 12px;
  margin: 8px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registro button {
  background-color: #5e48be;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registro button:hover {
  background-color: #1a062e;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  background-color:var(--primary-main);
  padding: 70px 100px;
  color:var(--secondary-main);
}

.footer-row {
  display: flex;
  flex-wrap: wrap; /*para que baje en grupo las columnas */
}

.footer-links {
  width: 20%;
  padding: 0 15px;
}

.footer-links h6{
  font-size: 14px;
  color:#ffffff;
  margin-bottom: 25px;
  font-weight: 500;
  display: inline-block;
  text-decoration: underline;

}

.footer-links ul {
 list-style: none; 
 padding:0;
}

.footer-links ul li {
  margin-left: 0; 
}

.footer-links ul li a {
  font-size: 14px;
  text-decoration:none;
  color:#ffffff;
  display: block;
  margin-bottom: 15px; 
}

.footer-links ul li a:hover {
  padding-left: 4px;
}
.social-links {
  display:flex;
}
.social-links a {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  width: 30px;
  margin: 0 30px 30px 0;
  text-align: center;
  line-height: 30px; 
  border-radius: 50%;
  color: #ffffff;
  border-color: var(--primary-light);
  text-decoration: none; 
}

.social-links a:hover {
  background-color: var(--primary-light);
}


/*responsive*/
@media(max-width: 780px){
  /*esto es para el header*/
  .mostrar-menu,
  .esconder-menu{
      display: block; /*establece que un elemento ocupará todo el espacio disponible por defecto y el siguiente elemento a este se situará por debajo*/
  }
  /*lo que viene se escribe dentro de las llaves de @media*/
  .menu{
      position: fixed; /*el elemento se fija de manera relativa, se mantendra en el mismo lugar*/
      width: 100%;
      height: 100vh; /*vh significa "altura del dispositivo, el numero equivale al porcentaje en pantalla ej: 40vh es 40% en pantalla*/
      background: #dde102;
      right: -100%;
      top: 0;
      text-align: center;
      padding: 100px 0px;
      z-index: 100; /*te permite ajustar el orden de las capas de los objetos cuando el contenido está siendo  (capas)*/
      transition: 0.8s;
  }

  .menu a{
      display: block; /*establece que un elemento ocupará todo el espacio disponible por defecto y el siguiente elemento a este se situará por debajo*/
      padding: 20px;
  }
  
  .esconder-menu{
      position: absolute; /* no reserva un espacio y te permite mover contenedores por tu pagina pero debe obedecer un “sistema de capas” conocido como “z-index” para que los objetos no queden sobre puestos*/
      top: 40px;
      right: 40px;
  }
  #check:checked ~ .menu{
      right: 0;
  }

  .catalogo {
    flex-direction: column; 
  }

  .registro {
    flex-direction: column; 
  }

  .footer {
    flex-direction: row-reverse;

  }

}